.inlineDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

p[label-required]::before {
  content: " *";
  color: red;
  font-weight: bold;
}

.mat-snack-bar-container.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
  font-weight: bold;
}
